@font-face {
    font-family: "Marianne-Regular";
    src: url("/fonts/Marianne-Regular.woff") format("woff");
    src: url("/fonts/Marianne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne-Bold";
    src: url("/fonts/Marianne-Bold.woff") format("woff");
    src: url("/fonts/Marianne-Bold.woff2") format("woff2");
}

* {
    font-family: Marianne-Regular, Marianne-Bold;
}
